.values {
    background-color: black;
    color: black;
    line-height: 24px;
    text-align: right;
}
.top-buttons {
 background-color: orange;
}
.nmbr-btn {
    background-color: blue;
    color: yellow;
    text-align: center;
}
.container {
    box-sizing: none;
}
.clr-btn {
    background-color: red;
    text-align: center;
}
.eql-btn {
    background-color: black;
    color: white;
}